TestApp/TestSOA/SCA-INF/classes/.data/00000000/00000000.jdb
TestApp/TestSOA/SCA-INF/classes/.data/00000000/je.lck
TestApp/TestSOA/classes/.data/00000000/00000000.jdb
TestApp/TestSOA/classes/.data/00000000/je.lck
